* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}

:root {
    /* background */
    --bg-primary-color: #000000;
    --bg-fill-color: #90b9ca;
    --bg-food-color: #c55e5e;
    --bg-head-color: #484fa7;

    /* text */
    --text-primary-color: #ffffff;

    /* spacing */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;

    /* Border colors */
    --border-primary-color: #363535;

    /* Border radius */
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 12px;
    --border-radius-xl: 16px;
    --border-radius-2xl: 20px;
}

main,
section {
    height: 100%;
    width: 100%;
}

section {
    padding: var(--space-2xl);
    gap: var(--space-xl);
    display: flex;
    flex-direction: column;
    height: 100%;
}

section .infos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    text-align: center;
    padding: var(--space-md);
    border: 2px solid var(--border-primary-color);
    border-radius: var(--border-radius-md);
}

.info {
    padding: var(--space-sm) var(--space-md);
    border: 2px solid var(--border-primary-color);
    border-radius: var(--border-radius-md);
}

.board {
    border: 3px solid rgb(221, 66, 66);
    border-radius: var(--border-radius-md);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(80px, 1fr));
}

.block {
    border: 2px solid var(--border-primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.fill {
    background-color: var(--bg-fill-color);
}

.food {
    background-color: var(--bg-food-color);
}

.head {
    background-color: var(--bg-head-color);
}

.modal {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2b2b7b;
    backdrop-filter: blur(3px);
}

.start-game,
.game-over {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    align-items: center;
}

.btn {
    padding: var(--space-md) var(--space-lg);
    border: none;
    border-radius: var(--border-radius-md);
    background-color: var(--bg-head-color);
    color: var(--text-primary-color);
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
}

.game-over {
    display: none;
}